---
layout: page
title: Blog
---

<div class="tile-preview">
{% for post in paginator.posts %}
    <article>
        <div class="tile-preview-content">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <h2><time datetime="{{ post.date | date_to_string }}">{{ post.date | date: "%B %-d, %Y" }}</time></h2>
            {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="tile-preview-status read-more">Continue Reading</a>
    </article>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<section class="pagination">
    {% if paginator.next_page %}<a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>{% else %}<span class="pagination-link">Older</span>{% endif %}
    {% if paginator.previous_page %}<a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>{% else %}<span class="pagination-link">Newer</span>{% endif %}
</section>
{% endif %}