<!doctype html>

<html>
    {% include head.html %}
    <body>
    {% include scripts.html %}
    <nav>
        <ul>
            {% if page.title == "Blog" %}<li><a href="{{ site.archive.url }}">{{ site.archive.title }}</a></li>{% else %}<li><a href="{{ site.blog_return.url }}">{{ site.blog_return.title }}</a></li>{% endif %}
            <li id="nav-icon"><h1 class="nav-logo">TY</h1></li>
            <li><a href="/">back to site</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
        {% include footer.html %}
    </main>
    {% include analytics.html %}
    </body>
</html>